
.nav {
  display: flex;   
  background-color: #808080;
  flex-wrap: wrap; 
  height: 60px; 
  width: 100%;
  position: fixed;
  }
  .nav__list {
    list-style: none;
    display: flex;
  }
  .nav__list-link {
    color:#EEEEEE;
    text-decoration: none;
  }
  .nav__logo {
    float: left;
    margin-right: auto;
    margin-left: auto;
  }
  .nav__list-link {
    font-family: Montserrat,sans-serif;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-bottom: 7px;
    }
    .nav__list-link:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: #EEEEEE;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: 0;
    }
    .nav__list-link:hover:before {
    width: 100%;
    }
  
    .nav__control-item {
    display: inline;
    padding-right: 20px;
    padding-bottom: 1000px;
    }
.header {
  width: 100%;
  height: 100vh;
  display: flex;
}
