
html {
  font-family: Montserrat,sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.nav {
  display: flex;   
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;  
  padding: 40px 0;

  }
    .nav__container {
        display: flex;   
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 40px);
        max-width: 1200px;
    }

    .nav__logo {
      display: flex;
      align-items: center;
      margin-right: auto;
    }

  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
  }
    .nav__list-link {
      color:#EEEEEE;
      text-decoration: none;
      display: inline-block;
      position: relative;
      text-decoration: none;
      
    }

    .nav__list-item+.nav__list-item {
        margin-left: 30px;
        
    } 

    .nav__list-link:before {
    display: block;
    position: absolute; 
    content: "";
    height: 2px;
    width: 0;
    background: #EEEEEE;
    transition: width 300ms ease-in-out;
    left: 0;
    bottom: -6px;
    }

    .nav__list-link:hover:before {
    width: 100%;

    }
  
    .nav__control-item {
    display: inline;
    padding-right: 20px;
    padding-bottom: 1000px;
  }
    .nav__control-item svg {
      height: 36px;
      width: 36px;
      fill: white;
    }
    
header {
    background-image: url("../images/bg-photo.jpg");
  }
.header {
  width: 100%;
  height: 100vh;
  display: flex;
}
.services {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1200px;
}
.container {
  display: flex;
  justify-content: center;
}
.service-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}
.service__list-item {
  position: relative;
  padding: 0 10px 30px;
}
.service__list-item::before{
  content:"";
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  display:  block;
  width: 60px;
  height: 3px;
  background-color: rgb(6, 7, 7);
  transition: background-color 225ms;
}
.service__list-item:hover svg,
.service__list-item:hover h3 {
  fill: currentColor;
  color:#998675;
  transition: color 225ms;
}
.service__list-item:hover::before {
  background-color: #998675;
  transition: background-color 225ms;
}
.services svg {
  transition: color 225ms;
  height: 40px;
  width: 40px;
}
.service__list-title {
  margin: 20px 0;
  transition: color 225ms;
}